// Make the button types
@mixin button($variant: peach, $size: normal) {
  // Button variants
  // stylelint-disable-next-line
  $buttonColors: (
    "orange": $color-orange $color-white,
    "peach": $color-peach $color-white,
    "turquoise": $color-turquoise $color-white,
    "lightBlue": $color-lightBlue $color-black,
    "darkGrey": $color-darkGrey $color-white
  );
  // Button Sizes
  // stylelint-disable-next-line
  $buttonSizes: (
    "small": $base-leading/3 $base-gutter/1.5,
    "normal": $base-leading/1.5 $base-gutter*1.5,
    "large": $base-leading*1.25 $base-gutter*2,
  );

  // General Button Styling
  text-align: center;
  font-size: $font-size;
  line-height: 1.5;
  font-family: $f-27Sans;
  display: inline-block;
  border-radius: $base-radius;
  appearance: none;
  cursor: pointer;
  letter-spacing: $base-gutter/40;
  text-decoration: none;

  // Button Sizes
  @each $buttonSize in $buttonSizes {
    $sizeName: nth($buttonSize, 1);
    $sizeSizes: nth($buttonSize, 2);
    $sizeLeading: nth($sizeSizes, 1);
    $sizeGutter: nth($sizeSizes, 2);

    @if $size == $sizeName {
      padding: $sizeLeading $sizeGutter;
    }
  }

  // Fill variants
  @each $color in $buttonColors {
    $colorName: nth($color, 1);
    $colorColors: nth($color, 2);
    $colorBgColor: nth($colorColors, 1);
    $colorTextColor: nth($colorColors, 2);

    @if $variant == $colorName {
      transition: background-color $base-transition;
      background-color: $colorBgColor;
      color: $colorTextColor;
      border: none;

      &:focus,
      &:hover {
        background-color: saturate($colorBgColor, 10%);
        color: $colorTextColor;
        outline: none;
      }

      &:active {
        transition: background-color $base-transition-links;
        background-color: darken($colorBgColor, 10%);
        color: $colorTextColor;
      }
    }
  }

  // Stroke variant
  @if $variant == "stroke" {
    transition: border-color $base-transition-links color $base-transition-links;
    background-color: $color-white;
    border: $base-border;

    &:focus,
    &:hover {
      border-color: darken($color-mediumGrey, 10%);
      outline: none;
    }

    &:active {
      transition: border-color $base-transition-links;
      border-color: darken($color-mediumGrey, 20%);
    }
  }
}
