.block-local-tasks-block {
  body:not(.user-logged-in) & {
    @include inner(15px 500px);
    text-align: center;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;

      &:nth-last-child(1n+2) {
        margin-right: $base-gutter/4;
        margin-bottom: $base-gutter/4;
      }
    }

    a {
      display: block;
      @include button(stroke, small);
    }
  }
}