// Set font style
input,
textarea,
select,
button,
.description {
  font-family: $f-27Sans;
  font-size: $font-size;
}

// Labels
label {
  font-family: $f-27Sans;
  font-size: $h6-size;
  color: $color-black;
  margin-bottom: $base-leading/6;
}

input {
  // Text fields and look alike
  &[type='text'],
  &[type='number'],
  &[type='search'],
  &[type='tel'],
  &[type='url'],
  &[type='password'],
  &[type='email'] {
    @include inputAppearance;
  }

  &[type="submit"] {
    @extend .button;
  }

  // Disabled field
  &[disabled] {
    background-color: $color-lightGrey;
    cursor: not-allowed;
  }
}

// Description
.description {
  font-size: $font-size-small;
  color: $color-grey;
  transition: color $base-transition;

  input + & {
    margin-top: $base-leading/8;
  }

  input:focus + & {
    color: $color-darkGrey;
  }
}

.form {
  &__field {
    + .form__field {
      margin-top: $base-leading;
    }
  }

  // Push the button
  &-actions {
    text-align: center;

    .button {
      margin-top: $base-leading;
    }
  }
}

//form {
//
//}

select {
  @include inputAppearance;
}

//option {
//
//}

textarea {
  @include inputAppearance;
  min-width: 100%;
}

// Focus elements
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
iframe,
[tabindex],
[contentEditable="true"] {
  @include outline;

  &:focus {
    outline-width: 3px;
  }
}