// Create the grid
@mixin gridBreakpoint($size: null, $bp: null, $margin: 0) {
  @if $size == null {
    @for $i from 1 through 12 {
      .grid__col--#{$i} {
        flex: $i;
        min-width: calc(((100% / 12) * #{$i}) - #{$margin} * 2);
      }
    }
  }

  @for $i from 1 through 12 {
    @include media($bp up) {
      .grid__col--#{$size}-#{$i} {
        flex: $i;
        min-width: calc(((100% / 12) * #{$i}) - #{$margin} * 2);
      }
    }
  }
}