&--type--basic {
  .paragraph {
    &__title {
      max-width: 60%;
      margin-bottom: $base-leading;
    }

    &__body {
      padding: 0 12%;

      ul {
        @include unorderedList;
      }
    }
  }
}