/**
 * Legacy from TRYG
 */

.grid {
  $margin: 1%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$margin};
  margin-right: -#{$margin};

  > *,
  .grid__col {
    flex: 1;
    margin-left: $margin;
    margin-right: $margin;
  }

  // GRID SYSTEM - Needs to be in each @for loop to create correct selector value
  // Apply the Grid system for the other breakpoints // Legacy from TRYG
  @include gridBreakpoint(null, null, $margin);
  @include gridBreakpoint(xs, 567px, $margin);
  @include gridBreakpoint(sm, 768px, $margin);
  @include gridBreakpoint(md, 1024px, $margin);
  @include gridBreakpoint(lg, 1150px, $margin);
  @include gridBreakpoint(xl, 1280px, $margin);
  @include gridBreakpoint(xxl, 1440px, $margin);
}
